super-tabs-toolbar>ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button.title-and-icon {
    height: 110px !important;
    padding-top: 60px !important;
}

super-tabs-toolbar>ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button {
    font-size: 10px;
}